QToolButton {
    border: none;
    background-color: transparent;
    color: #2d2d2d;
    font-size: 12px;
    border-radius: 10px;  /* 圆角 */
    padding-top: 5px;
    padding-bottom: 5px;
}
QToolButton:hover {
    background-color: #d3d3d3;  /* 悬停时的背景色 */
    color: teal;  /* 悬停时的文字颜色 */
}
QToolButton:checked {
    border: solid #2880f1 3px;
    background-color: #B0E0E6;  /* 选中时的背景色 */
    color: green;
}
